# Ignore Eclipse specific files
.metadata/
.classpath
.project
.settings/

# Ignore target directory
target/

# Ignore Maven build files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup 
pom.xml.next

# Ignore temporary files
*.log
*.tmp
*.swp

# Ignore IntelliJ IDEA files
.idea/
*.iml

# Ignore .env files
.env

# Ignore macOS system files
.DS_Store
